# Email spool folder
/backend/app/spool/*

# Cache, session files and logs (Symfony3)
/backend/var/*
!/backend/var/cache
/backend/var/cache/*
!backend/var/cache/.gitkeep
!/backend/var/logs
/backend/var/logs/*
!backend/var/logs/.gitkeep
!/backend/var/sessions
/backend/var/sessions/*
!backend/var/sessions/.gitkeep
!backend/var/SymfonyRequirements.php

# Parameters
/backend/app/config/parameters.yml
/backend/app/config/parameters.ini

# Managed by Composer
/backend/app/bootstrap.php.cache
/backend/var/bootstrap.php.cache
/backend/bin/*
!backend/bin/console
!backend/bin/symfony_requirements

# Assets and user uploads
/backend/web/bundles/
/backend/web/uploads/

# PHPUnit
/backend/app/phpunit.xml
/backend/phpunit.xml

# Build data
/backend/build/

# Backup entities generated with doctrine:generate:entities command
**/backend/Entity/*~

/backend/.web-server-pid

/backend/vendor/